.container {
    display: flex;
    justify-content: center;
  }
  
  .menubar {
    display: flex;
    justify-content: space-between; 
    width: 50%; 
    background-color: rgb(208, 208, 245);
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    color: black;
  }
  a{
    color: black;
    font-weight: 500;
  }
  